<Layouts.app {assigns}>
  <.admin_page active_tab={@active_tab}>
    <MydiaWeb.AdminSystemLive.Components.status_tab
      system_info={@system_info}
      database_info={@database_info}
      library_paths_count={@library_paths_count}
      download_clients_count={@download_clients_count}
      indexers_count={@indexers_count}
      stuck_upgrades={@stuck_upgrades}
      active_jobs={@active_jobs}
      recent_activity={@recent_activity}
    />
  </.admin_page>
</Layouts.app>
